<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="SemiColonWeb" />

	<!-- Stylesheets
	============================================= -->
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700|Raleway:300,400,500,600,700|Crete+Round:400i" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="/css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="/css/style.css" type="text/css" />
	<link rel="stylesheet" href="/css/dark.css" type="text/css" />
	<link rel="stylesheet" href="/css/font-icons.css" type="text/css" />
	<link rel="stylesheet" href="/css/animate.css" type="text/css" />
	<link rel="stylesheet" href="/css/magnific-popup.css" type="text/css" />

	<link rel="stylesheet" href="/css/responsive.css" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="/css/custom.css" type="text/css">

	<!-- Document Title
	============================================= -->
	<title>Job Openings | Canvas</title>

</head>

<body>
	
	<% include ./partials/header %>
	
	<!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap">

				<div class="container clearfix">

					<div class="col_three_fifth nobottommargin">
						
						<%allJobs.map(jobs => { %>

						<div class="fancy-title title-bottom-border">
							<% if(jobs.salary && jobs.salary.length > 1) { %>
							<h2><%=jobs.title%> - <%=jobs.location%> - <%=jobs.salary%></h2>
							<p class = 'title-'>Start Date - <%=jobs.start_date%></p>
							<% } else { %>
									<h2><%=jobs.title%> - <%=jobs.location%></h2>
									<h4><%=jobs.start_date%></h4>
							<% } %>
							
						</div>

						<p><%=jobs.overview %></p>

						<div class="accordion accordion-bg clearfix">
							
							<% if(jobs.requirements && jobs.requirements.length > 0) { %>

							<div class="acctitle"><i class="acc-closed icon-ok-circle"></i><i class="acc-open icon-remove-circle"></i>Requirements</div>
								<div class="acc_content clearfix">
									<ul class="iconlist iconlist-color nobottommargin">
										<% jobs.requirements.map(req => { %>
										<li><i class="icon-ok"></i><%=req.replace('+',(''))%></li>
										<% }); %>
										
								</div>
								
								<% } %>
								
							<% if(jobs.duties && jobs.duties.length > 0) { %>	

							<div class="acctitle"><i class="acc-closed icon-ok-circle"></i><i class="acc-open icon-remove-circle"></i>Job Description/Duties</div>
							<div class="acc_content clearfix">
								<ul class="iconlist iconlist-color nobottommargin">
									<% jobs.duties.map(req => { %>
									<li><i class="icon-plus-sign"></i><%=req.replace('+',(''))%></li>
									<% }); %>
									
							</div>
							
							<% } %>

							<div class="acctitle"><i class="acc-closed icon-ok-circle"></i><i class="acc-open icon-remove-circle"></i>About You</div>
							<div class="acc_content clearfix"><%=jobs.you%></div>
							<div class="acctitle"><i class="acc-closed icon-ok-circle"></i><i class="acc-open icon-remove-circle"></i>Other</div>
							<div class="acc_content clearfix"><%=jobs.other%></div>

						</div>

						<a href="#" data-scrollto="#job-apply" class="button button-3d button-black nomargin">Apply Now</a>

						<div class="divider divider-short"><i class="icon-star3"></i></div> <% }); %>

						
						
						
						
						
						
					</div id='dont-touch'>

					<div class="col_two_fifth nobottommargin col_last">

						<div id="job-apply" class="heading-block highlight-me">
							<h2>Apply Now</h2>
							<span>And we'll get back to you within 48 hours.</span>
						</div>

						<div class="form-widget">

							<div class="form-result"></div>

							<form action="include/form.php" id="template-jobform" name="template-jobform" method="post">

								<div class="form-process"></div>

								<div class="col_half">
									<label for="template-jobform-fname">First Name <small>*</small></label>
									<input type="text" id="template-jobform-fname" name="template-jobform-fname" value="" class="sm-form-control required" />
								</div>

								<div class="col_half col_last">
									<label for="template-jobform-lname">Last Name <small>*</small></label>
									<input type="text" id="template-jobform-lname" name="template-jobform-lname" value="" class="sm-form-control required" />
								</div>

								<div class="clear"></div>

								<div class="col_full">
									<label for="template-jobform-email">Email <small>*</small></label>
									<input type="email" id="template-jobform-email" name="template-jobform-email" value="" class="required email sm-form-control" />
								</div>

								<div class="col_half">
									<label for="template-jobform-age">Age <small>*</small></label>
									<input type="text" name="template-jobform-age" id="template-jobform-age" value="" size="22" tabindex="4" class="sm-form-control required" />
								</div>

								<div class="col_half col_last">
									<label for="template-jobform-city">City <small>*</small></label>
									<input type="text" name="template-jobform-city" id="template-jobform-city" value="" size="22" tabindex="5" class="sm-form-control required" />
								</div>

								<div class="clear"></div>

								<div class="col_full">
									<label for="template-jobform-service">Position <small>*</small></label>
										<select name="template-jobform-position" id="template-jobform-position"  tabindex="9" class="sm-form-control required">
										<option value="">-- Select Position --</option>
											<%allJobs.map(job => { %>
										<option value="<%=job.title%>"><%=job.title%></option>
											<% }); %>	
									</select>
								</div>

								<div class="col_half">
									<label for="template-jobform-salary">Expected Salary</label>
									<input type="text" name="template-jobform-salary" id="template-jobform-salary" value="" size="22" tabindex="6" class="sm-form-control" />
								</div>

								<div class="col_half col_last">
									<label for="template-jobform-time">Start Date</label>
									<input type="text" name="template-jobform-start" id="template-jobform-start" value="" size="22" tabindex="7" class="sm-form-control" />
								</div>

								<div class="clear"></div>

								<div class="col_full">
									<label for="template-jobform-website">Website (if any)</label>
									<input type="text" name="template-jobform-website" id="template-jobform-website" value="" size="22" tabindex="8" class="sm-form-control" />
								</div>

								<div class="col_full">
									<label for="template-jobform-experience">Experience (optional)</label>
									<textarea name="template-jobform-experience" id="template-jobform-experience" rows="3" tabindex="10" class="sm-form-control"></textarea>
								</div>

								<div class="col_full">
									<label for="template-jobform-application">Application <small>*</small></label>
									<textarea name="template-jobform-application" id="template-jobform-application" rows="6" tabindex="11" class="sm-form-control required"></textarea>
								</div>

								<div class="col_full hidden">
									<input type="text" id="template-jobform-botcheck" name="template-jobform-botcheck" value="" class="sm-form-control" />
								</div>

								<div class="col_full">
									<button class="button button-3d button-large btn-block nomargin" name="template-jobform-apply" type="submit" value="apply">Send Application</button>
								</div>

								<input type="hidden" name="prefix" value="template-jobform-">

							</form>

						</div>

					</div>

				</div>

			</div>

		</section><!-- #content end -->



	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	<!-- External JavaScripts
	============================================= -->
	<script src="/js/jquery.js"></script>
	<script src="/js/plugins.js"></script>

	<!-- Footer Scripts-->
	<!--============================================= -->-->
	<script src="/js/functions.js"></script>

</body>
</html>