

<!DOCTYPE html>
<html dir="ltr" lang="en-US">

<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="SemiColonWeb" />

	<!-- Stylesheets
	============================================= -->
	<link
		href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700|Raleway:300,400,500,600,700|Crete+Round:400i"
		rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="/css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="/css/style.css" type="text/css" />
	<link rel="stylesheet" href="/css/dark.css" type="text/css" />

	<!-- Agency Demo Specific Stylesheet -->
	<link rel="stylesheet" href="/css/agency.css" type="text/css" />
	<!-- / -->

	<link rel="stylesheet" href="/css/font-icons.css" type="text/css" />
	<link rel="stylesheet" href="/css/animate.css" type="text/css" />
	<link rel="stylesheet" href="/css/magnific-popup.css" type="text/css" />

	<link rel="stylesheet" href="/css/responsive.css" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="/css/portal.css">
	<link rel="stylesheet" href="css/custom.css">

	<!-- Document Title
	============================================= -->
	<title>Creative Staffing Services | Home</title>

</head>


<body>
	
	<header id="header" class="sticky-style-2 mt-3 mb-3">

			<div class="container clearfix d-flex align-items-center">

				<!-- Logo
				============================================= -->
				<div id="logo" class="divcenter">
					<a href="/" class="standard-logo"><img class="divcenter" src="/images/logo.png" alt="Logo"></a>
				</div><!-- #logo end -->

			</div>

			<div id="header-wrap">

				<!-- Primary Navigation
				============================================= -->
				<nav id="primary-menu" class="style-2 center">

					<div class="container clearfix">

						<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

						<ul>
							<li class=""><a href="/">
									<div>Home</div>
								</a>
							</li>
						</ul>
						<ul>
							<li class=""><a href="/about-us">
									<div>About Us</div>
								</a>
							</li>
						</ul>
						<ul>
							<li class=""><a href="/jobs">
									<div>Jobs</div>
								</a>
							</li>
						</ul>
						<ul>
							<li class=""><a href="/contact">
									<div>Contact</div>
								</a>
							</li>
						</ul>
						
						<% if(currentUser) {%>
						<ul>
							<li class=""><a href="/logout">
									<div>Logout</div>
								</a>
							</li>
						</ul>
						<% } %>
				</nav><!-- #primary-menu end -->

			</div>

		</header><!-- #header end -->

<section class = "container">

<table class="table table-striped custom-table">
    
    <thead>
        
        <tr>
            <th>Title</th>
            <th>Location</th>
            <th>Salary</th>
            <th class = 'centered'>Controls</th>
        </tr>
    </thead>
    <tbody>
        <%allJobs.map(jobs => { %>
        <tr>
            <td><%=jobs.title%></td>
            <td><%=jobs.location%></td>
            <td><%=jobs.salary%></td>
            <td class ='td-flex align-items-start'>
                <a style="width:55px" class ='btn  btn-sm btn-warning text-white nice-green custom-width' href = '/portal/<%=jobs._id%>/edit'>Edit</a>
                <form id ='del-form'action ='/admin/portal/<%=jobs._id%>?_method=DELETE' method = 'POST'>
                    <button class="btn btn-sm  btn-danger nice-red custom-width">Delete</button>
                </form>
                
            </td>
        </tr>
        <% }) %>
    </tbody>
</table>

</body>

</head>

<div class="stretched">

		<div id="wrapper" class="clearfix">

		<!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap bg-light">

				<div class="container">

					<div class="row justify-content-center">
						<div class="col-lg-7 col-md-10">
							<div class="card shadow-sm">
								<div class="card-header">
									<h4 class="mb-0">Form Feilds</h4>
								</div>
								<div class="card-body">

									<div class="form-widget">

										<div class="form-result"></div>

										<div class="form-process css3-spinner">
											<div class="css3-spinner-double-bounce1"></div>
											<div class="css3-spinner-double-bounce2"></div>
										</div>

										<form class="nobottommargin" id="template-contactform" name="template-contactform"
											action="/admin/portal" method="post">

											<div class="row">

												<div class="col-12 bottommargin-sm">
													<label for="title">Job Title<small class="text-danger">*</small></label>
													<input type="text" id="title" name="title" value=""
														class="form-control required" placeholder="Enter the job title" />
												</div>
												<div class="col-12 bottommargin-sm">
													<label for="location">Location<small class="text-danger">*</small></label>
													<input type="text" id="location" name="location" value=""
														class="form-control required" placeholder="Enter Location" />
												</div>

												<div class="col-12 bottommargin-sm">
													<label for="salary">Salary<small class="text-danger">*</small></label>
													<input type="text" id="salary" name="salary" value=""
														class="form-control required" placeholder="Salary" />
												</div>
												<div class="col-12 bottommargin-sm">
													<label for="date">Start Date<small class="text-danger">*</small></label>
													<input type="text" id="date" name="date" value=""
														class="form-control required" placeholder="Enter the Date" />
												</div>
												<div class="col-12 bottommargin-sm">
													<label for="overview">Overview/Tagline<small class="text-danger">*</small></label>
													<input type="text" id="overview" name="overview" value=""
														class="form-control" />
												</div>
												<div class="col-12 bottommargin-sm">
													<label for="requirements">Requirements<small
															class="text-danger">*</small></label>
													<textarea class="required form-control textarea-message" id="requirements"
														name="requirements" rows="6" cols="30"></textarea>
												</div>
												<div class="col-12 bottommargin-sm">
													<label for="duties">Job Description<small
															class="text-danger">*</small></label>
													<textarea class="required form-control textarea-message" id="duties"
														name="duties" rows="6" cols="30"></textarea>
												</div>
												<div class="col-12 bottommargin-sm">
													<label for="you">About You<small
															class="text-danger">*</small></label>
													<textarea class="required form-control textarea-message" id="you"
														name="you" rows="6" cols="30"></textarea>
												</div>
												<div class="col-12 bottommargin-sm">
													<label for="other">Other<small
															class="text-danger">*</small></label>
													<textarea class="required form-control textarea-message" id="other"
														name="other" rows="6" cols="30"></textarea>
												</div>



												<div class="col-12">
													<button type="submit" name="submit"
														class="btn btn-secondary btn-block btn-md custom-button-green m-1">Submit</button>
												</div>

											</div>

										</form>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>

			</div>
	</div>

	</section><!-- #content end -->

	<div id="gotoTop" class="icon-angle-up"></div>
	
	<% include ./partials/footer %>


</body>

</html>